.header::before, .section-cta::before, .section-price::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.35)), to(rgba(0, 0, 0, 0.35)));
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35));
}

/* Reset and base styles  */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  height: 100%;
  /* sticky footer */
  scroll-behavior: smooth;
}

body {
  height: 100%;
  /* sticky footer */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* sticky footer */
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  /* sticky footer */
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  color: #2E2E2E;
}

body > * {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  /* sticky footer */
}

input,
textarea,
button {
  font-family: inherit;
  padding: 0;
}

label {
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

legend {
  display: block;
  margin: 0;
  padding: 0;
  border: none;
}

/* Grid styles */
.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

/* Utility */
.none {
  display: none !important;
}

/* Sticky Footer */
.footer {
  margin-top: auto;
  /* sticky footer */
  /* Just for fun */
  text-align: center;
  padding: 50px 0;
}

.header {
  position: relative;
  z-index: 99;
  background-image: url("./../img/header/header-bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /*Tablet media */
  /*Mobile media */
  /*Mobile XS media */
}
@media (max-width: 1199px) {
  .header {
    background-image: url("./../img/header/tablet-bg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}
@media (max-width: 899px) {
  .header {
    background-image: url("./../img/header/mobile-bg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}
@media (max-width: 599px) {
  .header {
    background-image: url("./../img/header/xs-mobile-bg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}

.header__wrapper {
  padding-top: 60px;
  padding-bottom: 100px;
  position: relative;
  color: #FFFFFF;
  z-index: 9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /*Tablet media */
  /*Mobile media */
  /*Mobile XS media */
}
@media (max-width: 1199px) {
  .header__wrapper {
    padding-bottom: 50px;
  }
}
@media (max-width: 899px) {
  .header__wrapper {
    padding-top: 20px;
  }
}
@media (max-width: 599px) {
  .header__wrapper {
    padding-bottom: 40px;
  }
}

.header__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 140px;
  /*Tablet media */
  /*Mobile media */
}
@media (max-width: 1199px) {
  .header__buttons {
    margin-bottom: 100px;
    width: 100%;
  }
}
@media (max-width: 899px) {
  .header__buttons {
    margin-bottom: 30px;
  }
}

.header__buttons-seach {
  margin-left: auto;
}

.header__buttons-nav-icon {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.header__content {
  text-align: center;
  margin-bottom: 148px;
  /*Tablet media */
  /*Mobile media */
  /*Mobile XS media */
}
@media (max-width: 1199px) {
  .header__content {
    margin-bottom: 129px;
  }
}
@media (max-width: 899px) {
  .header__content {
    margin-bottom: 80px;
  }
}
@media (max-width: 599px) {
  .header__content {
    margin-bottom: 50px;
  }
}

.header__title {
  font-weight: 700;
  font-size: 96px;
  line-height: 1;
  text-align: center;
  color: #FFFFFF;
  margin-bottom: 40px;
  /*Tablet media */
  /*Mobile media */
}
@media (max-width: 1199px) {
  .header__title {
    margin-bottom: 35px;
    font-size: 84px;
  }
}
@media (max-width: 899px) {
  .header__title {
    font-size: 70px;
    margin-bottom: 30px;
  }
}

.header__description {
  font-weight: 700;
  font-size: 20px;
  line-height: auto;
  text-align: center;
  color: #FFFFFF;
  max-width: 730px;
  margin: 0 auto;
  margin-bottom: 70px;
  /*Tablet media */
  /*Mobile media */
  /*Mobile XS media */
}
.header__description p {
  margin-bottom: 15px;
}
@media (max-width: 1199px) {
  .header__description {
    margin-bottom: 50px;
    font-size: 18px;
  }
}
@media (max-width: 899px) {
  .header__description {
    font-size: 16px;
    max-width: 430px;
  }
}
@media (max-width: 599px) {
  .header__description {
    margin-bottom: 30px;
  }
}

.header__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 20px;
  /*Mobile media */
}
@media (max-width: 899px) {
  .header__form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }
}

.header__form-input {
  width: 240px;
  /*Mobile media */
}
@media (max-width: 899px) {
  .header__form-input {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
}

.section-functional {
  padding-top: 80px;
  padding-bottom: 80px;
  text-align: center;
  /*Tablet media */
  /*Mobile XS media */
}
@media (max-width: 1199px) {
  .section-functional {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}
@media (max-width: 599px) {
  .section-functional {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

.section-functional__header {
  margin-bottom: 70px;
  /*Tablet media */
  /*Mobile media */
}
@media (max-width: 1199px) {
  .section-functional__header {
    margin-bottom: 60px;
  }
}
@media (max-width: 899px) {
  .section-functional__header {
    margin-bottom: 40px;
  }
}

.section-functional__title {
  margin-bottom: 40px;
  /*Tablet media */
  /*Mobile media */
  /*Mobile XS media */
}
@media (max-width: 1199px) {
  .section-functional__title {
    margin-bottom: 30px;
  }
}
@media (max-width: 899px) {
  .section-functional__title {
    margin-bottom: 20px;
  }
}
@media (max-width: 599px) {
  .section-functional__title {
    margin-bottom: 10px;
  }
}

.section-functional__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 30px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  /*Mobile XS media */
}
@media (max-width: 599px) {
  .section-functional__row {
    gap: 40px;
  }
}

.section-cta {
  position: relative;
  padding-top: 83px;
  padding-bottom: 84px;
  background-image: url("./../img/section-cta/section-bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /*Tablet media */
  /*Mobile media */
  /*Mobile XS media */
}
@media (max-width: 1199px) {
  .section-cta {
    padding-top: 40px;
    padding-bottom: 40px;
    background-image: url("./../img/section-cta/tablet-bg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}
@media (max-width: 899px) {
  .section-cta {
    background-image: url("./../img/section-cta/mobile-bg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}
@media (max-width: 599px) {
  .section-cta {
    background-image: url("./../img/section-cta/xs-mobile-bg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}

.section-cta__content {
  position: relative;
  z-index: 9;
  color: #FFFFFF;
  text-align: center;
}

.section-cta__title {
  margin-bottom: 40px;
  font-weight: 500;
  font-size: 22px;
  line-height: 1;
  /* Mobile media */
  /*Mobile XS media */
}
.section-cta__title span {
  font-weight: 700;
  text-transform: uppercase;
}
@media (max-width: 899px) {
  .section-cta__title {
    margin-bottom: 30px;
    font-size: 20px;
  }
}
@media (max-width: 599px) {
  .section-cta__title {
    margin-bottom: 20px;
    font-size: 18px;
  }
}

.section-tasks {
  padding-top: 80px;
  padding-bottom: 40px;
  /*Tablet media */
  /*Mobile media */
  /*Mobile XS media */
}
@media (max-width: 1199px) {
  .section-tasks {
    padding-top: 50px;
    padding-bottom: 20px;
  }
}
@media (max-width: 899px) {
  .section-tasks {
    padding-bottom: 10px;
  }
}
@media (max-width: 599px) {
  .section-tasks {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

.section-tasks__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 100px;
  padding-right: 114px;
  border-bottom: 1px solid #E1E1E1;
  /*Tablet media */
  /*Mobile media */
  /*Mobile XS media */
}
@media (max-width: 1199px) {
  .section-tasks__row {
    padding-left: 75px;
    padding-right: 0;
  }
}
@media (max-width: 899px) {
  .section-tasks__row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    padding-left: 0;
  }
}
@media (max-width: 599px) {
  .section-tasks__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

.section-tasks__row > * {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.section-tasks__content {
  width: 570px;
  /*Tablet media */
  /*Mobile media */
  /*Mobile XS media */
}
@media (max-width: 1199px) {
  .section-tasks__content {
    width: 495px;
  }
}
@media (max-width: 899px) {
  .section-tasks__content {
    width: 270px;
  }
}
@media (max-width: 599px) {
  .section-tasks__content {
    text-align: center;
  }
}

.section-tasks__header {
  margin-bottom: 30px;
  /*Tablet media */
}
@media (max-width: 1199px) {
  .section-tasks__header {
    margin-bottom: 20px;
  }
}

.section-tasks__title {
  margin-bottom: 30px;
  /*Tablet media */
  /*Mobile XS media */
}
@media (max-width: 1199px) {
  .section-tasks__title {
    margin-bottom: 20px;
  }
}
@media (max-width: 599px) {
  .section-tasks__title {
    margin-bottom: 10px;
  }
}

.section-tasks__subtitle {
  margin-bottom: 30px;
}

.section-tasks__text {
  width: 400px;
  color: #808080;
  font-weight: 500;
  font-size: 14px;
  line-height: 2.14;
  /*Tablet media */
  /*Mobile media */
}
.section-tasks__text p {
  margin-bottom: 14px;
}
@media (max-width: 1199px) {
  .section-tasks__text {
    width: unset;
    max-width: 420px;
  }
}
@media (max-width: 899px) {
  .section-tasks__text {
    line-height: 1.7;
  }
}

.section-tasks__image {
  /*Tablet media */
  /*Mobile media */
  /*Mobile XS media */
}
@media (max-width: 1199px) {
  .section-tasks__image {
    width: 265px;
  }
}
@media (max-width: 899px) {
  .section-tasks__image {
    width: 270px;
  }
}
@media (max-width: 599px) {
  .section-tasks__image {
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
  }
  .section-tasks__image img {
    width: 270px;
    margin-left: auto;
    margin-right: auto;
  }
}

.section-focus {
  padding-top: 80px;
  padding-bottom: 40px;
  overflow-x: hidden;
  /*Tablet media */
  /*Mobile media */
  /*Mobile XS media */
}
@media (max-width: 1199px) {
  .section-focus {
    padding-top: 50px;
    padding-bottom: 20px;
  }
}
@media (max-width: 899px) {
  .section-focus {
    padding-bottom: 0;
  }
}
@media (max-width: 599px) {
  .section-focus {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

.section-focus__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  /*Mobile media */
  /*Mobile XS media */
}
@media (max-width: 899px) {
  .section-focus__row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
}
@media (max-width: 599px) {
  .section-focus__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.section-focus__row > * {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.section-focus__image {
  /*Tablet media */
  /*Mobile media */
  /*Mobile XS media */
}
@media (max-width: 1199px) {
  .section-focus__image {
    width: 420px;
  }
}
@media (max-width: 899px) {
  .section-focus__image {
    width: 170px;
  }
  .section-focus__image img {
    max-width: unset;
    width: 415px;
    height: auto;
  }
}
@media (max-width: 599px) {
  .section-focus__image {
    width: 100%;
  }
  .section-focus__image img {
    max-width: 100%;
    margin: 0 auto;
  }
}

.section-focus__content {
  width: 470px;
  padding-top: 28px;
  /*Tablet media */
  /*Mobile media */
  /*Mobile XS media */
}
@media (max-width: 1199px) {
  .section-focus__content {
    width: 420px;
    padding-top: 12px;
  }
}
@media (max-width: 899px) {
  .section-focus__content {
    width: 370px;
  }
}
@media (max-width: 599px) {
  .section-focus__content {
    text-align: center;
    width: 100%;
  }
}

.section-focus__header {
  margin-bottom: 30px;
  /*Tablet media */
}
@media (max-width: 1199px) {
  .section-focus__header {
    margin-bottom: 20px;
  }
}

.section-focus__title {
  margin-bottom: 30px;
  /*Tablet media */
  /*Mobile XS media */
}
@media (max-width: 1199px) {
  .section-focus__title {
    margin-bottom: 20px;
  }
}
@media (max-width: 599px) {
  .section-focus__title {
    margin-bottom: 10px;
  }
}

.section-focus__subtitle {
  margin-bottom: 30px;
}

.section-focus__text {
  width: 400px;
  font-weight: 500;
  font-size: 14px;
  line-height: 2.14;
  color: #808080;
  /*Tablet media */
  /*Mobile media */
}
.section-focus__text p {
  margin-bottom: 14px;
}
@media (max-width: 1199px) {
  .section-focus__text {
    width: unset;
    max-width: 420px;
  }
}
@media (max-width: 899px) {
  .section-focus__text {
    line-height: 1.7;
    margin: 0 auto;
  }
}

.section-price {
  position: relative;
  padding-top: 90px;
  padding-bottom: 100px;
  background-image: url("./../img/section-price/section-price-bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /*Tablet media */
  /*Mobile media */
  /*Mobile XS media */
}
@media (max-width: 1199px) {
  .section-price {
    background-image: url("./../img/section-price/tablet-bg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 50px;
    padding-bottom: 50px;
  }
}
@media (max-width: 899px) {
  .section-price {
    background-image: url("./../img/section-price/mobile-bg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-bottom: 40px;
  }
}
@media (max-width: 599px) {
  .section-price {
    background-image: url("./../img/section-price/xs-mobile-bg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 40px;
  }
}

.section-price__contetnt {
  position: relative;
  z-index: 9;
  /*Tablet media */
  /*Mobile media */
}
@media (max-width: 1199px) {
  .section-price__contetnt {
    margin-bottom: 50px;
  }
}
@media (max-width: 899px) {
  .section-price__contetnt {
    margin-bottom: 40px;
  }
}

.section-price__header {
  text-align: center;
  margin-bottom: 80px;
}

.section-price__title {
  margin-bottom: 40px;
  /*Tablet media */
  /*Mobile XS media */
}
@media (max-width: 1199px) {
  .section-price__title {
    margin-bottom: 20px;
  }
}
@media (max-width: 599px) {
  .section-price__title {
    margin-bottom: 10px;
  }
}

.section-price__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 30px;
  /*Mobile media */
}
@media (max-width: 899px) {
  .section-price__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 15px;
  }
}

.section-price__row > * {
  width: 300px;
  /*Tablet media */
  /*Mobile media */
  /*Mobile XS media */
}
@media (max-width: 1199px) {
  .section-price__row > * {
    width: 270px;
  }
}
@media (max-width: 899px) {
  .section-price__row > * {
    width: 300px;
  }
}
@media (max-width: 599px) {
  .section-price__row > * {
    width: 290px;
  }
}

.section-clients {
  padding-top: 80px;
  padding-bottom: 80px;
  /*Tablet media */
  /*Mobile XS media */
}
@media (max-width: 1199px) {
  .section-clients {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}
@media (max-width: 599px) {
  .section-clients {
    padding-top: 40px;
  }
}

.section-clients__header {
  margin-bottom: 60px;
  text-align: center;
  /*Tablet media */
  /*Mobile media */
  /*Mobile XS media */
}
@media (max-width: 1199px) {
  .section-clients__header {
    margin-bottom: 50px;
  }
}
@media (max-width: 899px) {
  .section-clients__header {
    margin-bottom: 40px;
  }
}
@media (max-width: 599px) {
  .section-clients__header {
    margin-bottom: 30px;
  }
}

.section-clients__title {
  margin-bottom: 40px;
  /*Tablet media */
  /*Mobile media */
  /*Mobile XS media */
}
@media (max-width: 1199px) {
  .section-clients__title {
    margin-bottom: 30px;
  }
}
@media (max-width: 899px) {
  .section-clients__title {
    margin-bottom: 20px;
  }
}
@media (max-width: 599px) {
  .section-clients__title {
    margin-bottom: 10px;
  }
}

.section-clients__slider {
  margin-left: auto;
  margin-right: auto;
  width: 770px;
  /*Tablet media */
  /*Mobile media */
  /*Mobile XS media */
}
@media (max-width: 1199px) {
  .section-clients__slider {
    width: 720px;
  }
}
@media (max-width: 899px) {
  .section-clients__slider {
    width: 370px;
  }
}
@media (max-width: 599px) {
  .section-clients__slider {
    width: 100%;
  }
}

.footer {
  padding-top: 70px;
  padding-bottom: 70px;
  background: #1A1A1A;
  color: #fff;
  /*Tablet media */
  /*Mobile media */
  /*Mobile XS media */
}
@media (max-width: 1199px) {
  .footer {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
@media (max-width: 899px) {
  .footer {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}
@media (max-width: 599px) {
  .footer {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

.footer__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 50px;
  /*Tablet media */
  /*Mobile media */
  /*Mobile XS media */
}
@media (max-width: 1199px) {
  .footer__row {
    margin-bottom: 40px;
  }
}
@media (max-width: 899px) {
  .footer__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 30px;
    margin-bottom: 30px;
  }
}
@media (max-width: 599px) {
  .footer__row {
    margin-bottom: 40px;
    gap: 40px;
  }
}

.footer__nav {
  margin-right: 50px;
  /*Mobile media */
  /*Mobile XS media */
}
@media (max-width: 899px) {
  .footer__nav {
    margin-right: 0;
  }
}
@media (max-width: 599px) {
  .footer__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.footer__nav-item {
  margin-right: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1;
  letter-spacing: 4px;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  /*Mobile XS media */
}
.footer__nav-item:last-child {
  margin-right: 0;
}
.footer__nav-item:hover {
  color: #15D784;
}
@media (max-width: 599px) {
  .footer__nav-item {
    margin-right: 0;
    margin-bottom: 20px;
  }
  .footer__nav-item:last-child {
    margin-bottom: 0;
  }
}

.footer__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  /*Mobile XS media */
}
@media (max-width: 599px) {
  .footer__socials {
    gap: 20px;
  }
}

.footer__socials-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background: rgba(196, 196, 196, 0.1);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.footer__socials-item:hover {
  background: #15D784;
}

.footer__copyright {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
  color: rgba(255, 255, 255, 0.3);
}
.footer__copyright span {
  font-weight: 700;
}

.footer__copyright p + p {
  margin-top: 15px;
}

.nav {
  display: none;
  position: fixed;
  top: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  opacity: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-transition: opacity 0.2s ease-in, top 0s linear 0.2s;
  transition: opacity 0.2s ease-in, top 0s linear 0.2s;
}

.nav.nav--active {
  z-index: 99;
  top: 0;
  opacity: 1;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.nav__top {
  font-weight: 700;
  font-size: 18px;
  line-height: 1;
  letter-spacing: 4px;
  text-transform: uppercase;
  color: #15D784;
  margin-bottom: 50px;
  /*Mobile XS media */
}
@media (max-width: 599px) {
  .nav__top {
    font-size: 16px;
    margin-bottom: 30px;
  }
}

.nav__list {
  font-weight: 700;
  font-size: 24px;
  line-height: 1;
  color: #FFFFFF;
  /*Mobile XS media */
}
.nav__list li {
  margin-bottom: 40px;
  /*Mobile XS media */
}
@media (max-width: 599px) {
  .nav__list li {
    margin-bottom: 30px;
  }
}
.nav__list a {
  text-decoration: none;
  color: #FFFFFF;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.nav__list a:hover {
  color: #15D784;
}
@media (max-width: 599px) {
  .nav__list {
    font-size: 18px;
  }
}

.input {
  display: block;
  height: 60px;
  background: rgba(0, 0, 0, 0.75);
  border-radius: 30px;
  border: none;
  padding-left: 30px;
  padding-right: 30px;
  font-weight: 700;
  font-size: 14px;
  line-height: 60px;
  color: #FFFFFF;
}

.input::-webkit-input-placeholder {
  color: #fff;
}

.input:-ms-input-placeholder {
  color: #fff;
}

.input::-ms-input-placeholder {
  color: #fff;
}

.input::placeholder {
  color: #fff;
}

input:focus {
  outline: none;
  background: black;
}

.button {
  display: inline-block;
  padding: 21px 40px;
  border-radius: 30px;
  border: none;
  background: #00C470;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  font-weight: 800;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 4px;
  text-transform: uppercase;
  color: #FFFFFF;
}
.button:hover {
  background: #089b5b;
}
.button:focus {
  outline: none;
  background: #057545;
}

.title {
  font-weight: 700;
  font-size: 16px;
  line-height: 1;
  letter-spacing: 4px;
  text-transform: uppercase;
  color: #15D784;
  /*Mobile media */
}
@media (max-width: 899px) {
  .title {
    font-size: 14px;
  }
}

.title--white {
  color: #fff;
}

.subtitle {
  font-weight: 700;
  font-size: 48px;
  line-height: 1;
  color: #2E2E2E;
  /*Tablet media */
  /*Mobile media */
  /*Mobile XS media */
}
@media (max-width: 1199px) {
  .subtitle {
    font-size: 38px;
  }
}
@media (max-width: 899px) {
  .subtitle {
    font-size: 30px;
  }
}
@media (max-width: 599px) {
  .subtitle {
    font-size: 26px;
  }
}

.subtitle--white {
  color: #fff;
}

.card {
  text-align: center;
  width: 270px;
  /*Tablet media */
  /*Mobile media */
  /*Mobile XS media */
}
@media (max-width: 1199px) {
  .card {
    width: 195px;
  }
}
@media (max-width: 899px) {
  .card {
    width: 270px;
  }
}
@media (max-width: 599px) {
  .card {
    width: 290px;
  }
}

.card__image {
  margin: 0 auto;
  margin-bottom: 40px;
  /*Tablet media */
}
@media (max-width: 1199px) {
  .card__image {
    margin-bottom: 20px;
  }
}

.card__title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1;
  /*Tablet media */
  /*Mobile media */
}
@media (max-width: 1199px) {
  .card__title {
    margin-bottom: 10px;
    min-height: 32px;
  }
}
@media (max-width: 899px) {
  .card__title {
    min-height: unset;
  }
}

.card__text {
  font-weight: 500;
  font-size: 14px;
  line-height: 2.14;
  color: #808080;
  /*Tablet media */
}
@media (max-width: 1199px) {
  .card__text {
    line-height: 1.57;
  }
}

.package {
  background: rgba(0, 0, 0, 0.75);
  color: #fff;
  text-align: center;
  border-radius: 8px;
  padding-top: 40px;
  padding-bottom: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.package--special {
  background: rgba(48, 79, 254, 0.95);
}
.package--special .package__title {
  color: #FFFFFF;
}
.package--special .package__period {
  background: rgba(0, 0, 0, 0.1);
}

.package__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 15px;
  padding-left: 15px;
  padding-bottom: 40px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.package__title {
  font-weight: 700;
  font-size: 16px;
  line-height: 1;
  letter-spacing: 4px;
  text-transform: uppercase;
  color: #B2B2B2;
  margin-bottom: 20px;
}

.package__price {
  font-weight: 700;
  font-size: 80px;
  line-height: 1;
  letter-spacing: 4px;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 15px;
}

.package__period {
  display: inline-block;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 30px;
  padding: 6px 15px;
  font-weight: 700;
  font-size: 12px;
  line-height: 1;
  letter-spacing: 4px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.package__list {
  padding-top: 40px;
  padding-right: 15px;
  padding-left: 15px;
  margin-bottom: 58px;
}

.package__list-item {
  margin-bottom: 25px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1;
  color: #FFFFFF;
}
.package__list-item:last-child {
  margin-bottom: 0;
}

.package__button {
  margin-top: auto;
}

.button-outline {
  height: 60px;
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 30px;
  border: none;
  background: transparent;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  font-weight: 800;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 4px;
  text-transform: uppercase;
  color: #FFFFFF;
  border: 1px solid rgba(255, 255, 255, 0.2);
}
.button-outline:hover {
  background: rgba(255, 255, 255, 0.2);
  border: 1px solid rgba(255, 255, 255, 0);
}
.button-outline:focus {
  outline: none;
  background: #000;
}

.button-solid {
  height: 60px;
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 30px;
  border: none;
  background: #fff;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  font-weight: 800;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 4px;
  text-transform: uppercase;
  color: #2E2E2E;
}
.button-solid:hover {
  background: #000;
  color: #fff;
}
.button-solid:focus {
  outline: none;
  background: #2f2f2f;
  color: #fff;
}

.slider {
  position: relative;
  padding-bottom: 54px;
  /*Mobile media */
  /*Mobile XS media */
}
@media (max-width: 899px) {
  .slider {
    padding-bottom: 44px;
  }
}

.section-clients__slider {
  position: relative;
}

.slider__arrow {
  position: absolute;
  width: 54px;
  height: 54px;
  border-radius: 50%;
  background: #F5F5F5;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  /*Mobile XS media */
}
.slider__arrow .slider__arrow-svg {
  stroke: #00C470;
}
.slider__arrow:hover {
  background: #00c470;
}
.slider__arrow:hover .slider__arrow-svg {
  stroke: #fff;
}
.slider__arrow--left {
  left: -46px;
  top: 53px;
  -webkit-transform: translate(-100%);
          transform: translate(-100%);
}
@media (max-width: 949px) {
  .slider__arrow--left {
    left: -30px;
  }
}
.slider__arrow--right {
  right: -46px;
  top: 53px;
  -webkit-transform: translate(100%);
          transform: translate(100%);
}
@media (max-width: 949px) {
  .slider__arrow--right {
    right: -30px;
  }
}
@media (max-width: 599px) {
  .slider__arrow {
    display: none;
  }
}

.slider__pagination {
  position: absolute;
  bottom: 0px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}

.slider__pagination-item {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  border: none;
  background: #E1E1E1;
}

.slider__pagination-item--active {
  background: #00C470;
}

.slider-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider-item__text {
  margin-bottom: 30px;
  font-weight: 500;
  font-size: 18px;
  line-height: 2;
  text-align: center;
  color: #000000;
  /*Tablet media */
  /*Mobile media */
  /*Mobile XS media */
}
.slider-item__text p {
  margin-bottom: 15px;
}
@media (max-width: 1199px) {
  .slider-item__text {
    line-height: 1.5;
  }
}
@media (max-width: 899px) {
  .slider-item__text {
    font-size: 16px;
    margin-bottom: 20px;
  }
}
@media (max-width: 599px) {
  .slider-item__text {
    font-size: 14px;
  }
}

.slider-item__author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider-item__avatar {
  margin-right: 20px;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  overflow: hidden;
  /*Mobile XS media */
}
@media (max-width: 599px) {
  .slider-item__avatar {
    width: 60px;
    height: 60px;
    margin-right: 10px;
  }
}

.slider-item__author-desc {
  font-weight: 500;
  font-size: 16px;
  /*Mobile XS media */
}
@media (max-width: 599px) {
  .slider-item__author-desc {
    font-size: 14px;
  }
}

.slider-item__author-title {
  display: block;
  margin-bottom: 5px;
  color: #00C470;
}

.slider-item__author-name {
  display: block;
  color: #808080;
}

.nav-icon {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  -webkit-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
}
.nav-icon:hover {
  background: #00C470;
}
.nav-icon:hover .nav-icon__middle,
.nav-icon:hover .nav-icon__middle::before,
.nav-icon:hover .nav-icon__middle::after {
  background: #fff;
}
.nav-icon:focus {
  outline: none;
}

.nav-icon__middle {
  position: relative;
  width: 20px;
  height: 3px;
  background-color: #000;
  border-radius: 2px;
}
.nav-icon__middle::before {
  content: "";
  width: 20px;
  height: 3px;
  background-color: #000;
  position: absolute;
  top: -7px;
  left: 0;
  border-radius: 2px;
  -webkit-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
  -webkit-transition: top 0.2s linear 0.2s, -webkit-transform 0.2s ease-in;
  transition: top 0.2s linear 0.2s, -webkit-transform 0.2s ease-in;
  transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
  transition: transform 0.2s ease-in, top 0.2s linear 0.2s, -webkit-transform 0.2s ease-in;
}
.nav-icon__middle::after {
  content: "";
  width: 20px;
  height: 3px;
  background-color: #000;
  position: absolute;
  top: 7px;
  left: 0;
  -webkit-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
  -webkit-transition: top 0.2s linear 0.2s, -webkit-transform 0.2s ease-in;
  transition: top 0.2s linear 0.2s, -webkit-transform 0.2s ease-in;
  transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
  transition: transform 0.2s ease-in, top 0.2s linear 0.2s, -webkit-transform 0.2s ease-in;
  border-radius: 2px;
}

/* Active state */
.nav-icon.nav-icon--active {
  position: fixed;
  z-index: 999;
}

.nav-icon.nav-icon--active .nav-icon__middle {
  background-color: transparent;
}
.nav-icon.nav-icon--active .nav-icon__middle::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 0;
  -webkit-transition: top 0.2s linear, -webkit-transform 0.2s ease-in 0.2s;
  transition: top 0.2s linear, -webkit-transform 0.2s ease-in 0.2s;
  transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
  transition: top 0.2s linear, transform 0.2s ease-in 0.2s, -webkit-transform 0.2s ease-in 0.2s;
}
.nav-icon.nav-icon--active .nav-icon__middle::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 0;
  -webkit-transition: top 0.2s linear, -webkit-transform 0.2s ease-in 0.2s;
  transition: top 0.2s linear, -webkit-transform 0.2s ease-in 0.2s;
  transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
  transition: top 0.2s linear, transform 0.2s ease-in 0.2s, -webkit-transform 0.2s ease-in 0.2s;
}

.search {
  position: relative;
  z-index: 9;
}

.search__input {
  padding-left: 30px;
  padding-right: 30px;
  width: 0px;
  height: 60px;
  border: none;
  background: #FFFFFF;
  border-radius: 30px;
  font-weight: 500;
  font-size: 16px;
  line-height: 60px;
  color: #000000;
  -webkit-transition: width 0.2s ease-in;
  transition: width 0.2s ease-in;
}
.search__input::-webkit-input-placeholder {
  color: rgba(46, 46, 46, 0.5);
}
.search__input:-ms-input-placeholder {
  color: rgba(46, 46, 46, 0.5);
}
.search__input::-ms-input-placeholder {
  color: rgba(46, 46, 46, 0.5);
}
.search__input::placeholder {
  color: rgba(46, 46, 46, 0.5);
}
.search__input:focus {
  background: #fff;
}

.search__button {
  position: absolute;
  top: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #fff;
  border: none;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transition: 0.2;
  transition: 0.2;
}
.search__button:hover {
  background: #00C470;
}
.search__button:hover .search__button-icon {
  stroke: #fff;
}

.search__button-icon {
  stroke: #000;
  -webkit-transition: 0.2;
  transition: 0.2;
}

.search--visible .search__input {
  width: 340px;
  padding-left: 30px;
  padding-right: 70px;
  /*Mobile XS media */
}
@media (max-width: 599px) {
  .search--visible .search__input {
    width: 200px;
    padding-left: 20px;
    font-size: 14px;
  }
}
.search--visible .search__button {
  background: #00C470;
}
.search--visible .search__button .search__button-icon {
  stroke: #fff;
}
.search--visible .search__button:hover {
  background: #15D784;
}

/*
 * 	Default theme - Owl Carousel CSS File
 */
.owl-theme .owl-nav {
  margin-top: 10px;
  text-align: center;
  -webkit-tap-highlight-color: transparent;
}
.owl-theme .owl-nav [class*='owl-'] {
  color: #FFF;
  font-size: 14px;
  margin: 5px;
  padding: 4px 7px;
  background: #E1E1E1;
  display: inline-block;
  cursor: pointer;
  border-radius: 3px;
}
.owl-theme .owl-nav [class*='owl-']:hover {
  background: #00c470;
  color: #FFF;
  text-decoration: none;
}
.owl-theme .owl-nav .disabled {
  opacity: 0.5;
  cursor: default;
}
.owl-theme .owl-nav.disabled + .owl-dots {
  margin-top: 35px;
  /*Mobile media */
}
@media (max-width: 899px) {
  .owl-theme .owl-nav.disabled + .owl-dots {
    margin-top: 25px;
  }
}
.owl-theme .owl-dots {
  text-align: center;
  -webkit-tap-highlight-color: transparent;
}
.owl-theme .owl-dots .owl-dot {
  display: inline-block;
  zoom: 1;
  *display: inline;
}
.owl-theme .owl-dots .owl-dot span {
  width: 14px;
  height: 14px;
  margin: 5px 5px;
  background: #E1E1E1;
  display: block;
  -webkit-backface-visibility: visible;
  -webkit-transition: opacity 200ms ease;
  transition: opacity 200ms ease;
  border-radius: 50%;
}
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
  background: #00c470;
}

/* Tablet */
@media (max-width: 1199px) {
  .container {
    width: 900px;
  }
}
/* Mobile */
@media (max-width: 899px) {
  .container {
    width: 600px;
  }
}
/* Mobile XS */
@media (max-width: 599px) {
  .container {
    width: 100%;
  }
}

/*# sourceMappingURL=main.css.map */