.button {
    display: inline-block;
    padding: 21px 40px;
    border-radius: 30px;
    border: none;
    background: #00C470;
    cursor: pointer;
    transition: 0.3s;

    font-weight: 800;
    font-size: 14px;
    line-height: 17px;

    letter-spacing: 4px;
    text-transform: uppercase;
    color: #FFFFFF;

    &:hover {
        background: #089b5b;
    }

    &:focus {
        outline: none;
        background: #057545;
    }

}