.footer {
    padding-top: 70px;
    padding-bottom: 70px;
    background: #1A1A1A;
    color: #fff;
    ;
}

.footer__row {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}

.footer__nav {
    margin-right: 40px;
}

.footer__nav-item {
    margin-right: 50px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1;
    letter-spacing: 4px;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    transition: 0.3s;

    &:last-child {
        margin-right: 0;
    }

    &:hover {
        color: #15D784;
    }
}

.footer__socials {
    display: flex;
    gap: 30px;

}

.footer__socials-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background: rgba(196, 196, 196, 0.1);
    transition: 0.3s;

    &:hover {
        background: #15D784;
    }
}

.footer__copyright {
    font-weight: 500;
    font-size: 14px;
    line-height: 1;
    text-align: center;
    color: rgba(255, 255, 255, 0.3);

    span {
        font-weight: 700;
    }

}

.footer__copyright p+p {
    margin-top: 15px;
}